*{box-sizing:border-box;font-family:monospace}
body{margin:0;background:#000;color:#00ff9c}

.center-box{
  max-width:320px;
  margin:15vh auto;
  border:1px solid #00ff9c;
  padding:20px;
  text-align:center;
}

input,button{
  width:100%;
  padding:12px;
  margin-top:10px;
  background:#000;
  border:1px solid #00ff9c;
  color:#00ff9c;
}

button{cursor:pointer}
button:hover{background:#00ff9c;color:#000}

.chat-container{display:flex;flex-direction:column;height:100vh}
.chat-header{text-align:center;padding:10px;border-bottom:1px solid #00ff9c}
.chat-messages{flex:1;padding:10px;overflow:auto}
.msg{margin-bottom:8px}
.user{text-align:right}
.admin{color:#fff}

.chat-input{display:flex;padding:10px;border-top:1px solid #00ff9c}
.chat-input input{flex:1}

.admin{display:flex;height:100vh}
.users{width:35%;border-right:1px solid #00ff9c;overflow:auto}
.users div{padding:10px;cursor:pointer}
.chat{flex:1;display:flex;flex-direction:column}
#adminMsgs{flex:1;padding:10px;overflow:auto}
